*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #00DB5F;
    color: #FEFFF7;
}

a{
    color: #00DB5F;
}

a:hover, a:focus{
    color: #FEFFF7;
}

a:visited{
    color: #363536;
}

header{
    border-radius: 5px;
    background-color: rgb(1, 7, 36);
    margin: 10px auto 0 auto;
    width: 98%;
    padding: 5px;
}

h1{
    text-align: center;
    margin: auto;
    width: 100%;
}

h1{
    font-size: 48px;
}

.search-inputs{
    display: flex;
    justify-content: flex-end;
    width: auto;
}

input{
    border-radius: 5px;
    background-color: #123442;
    color: #FEFFF7;
    border: #FEFFF7;
}

#search-bar{
    background-color: rgba(18,52,66,0.8);
}

#login{
    padding: 5px;
}

main{
    width: 98%;
    margin: 10px auto 0 auto;
    border-radius: 5px;
}

.signin-message{
    padding: 100px;
}

.playing{
    background-color: rgb(1, 7, 36);
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

figure, p, h3{
    margin: 0;
}

.artist{
    font-size: 24px;
    margin: 10px;
}

.album{
    font-style: italic;
}


h3{
    padding: 10px;
    text-align: center;
}

.events{
    height: 250px;
    border-radius: 5px;
    background-color: rgba(1, 7, 36,0.6);
}

li{
    list-style-type: none;
}

#sources{
    font-size: 10px;
    text-align: center;
    margin: auto;
}