*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

body{
    background-color: #00DB5F;
    color: #00DB5F;
}

a{
    color: #00DB5F;
}

a:hover, a:focus{
    color: #01a5eb;
}

a:visited{
    color: #FEFFF7;
}

header{
    border-radius: 5px;
    background-color: rgb(1, 7, 36);
    margin: 10px auto 0 auto;
    width: 98%;
    padding: 15px;
}

h1{
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 42px;
    font-family: 'Righteous', cursive;
}

h1{
    font-size: 72px;
    padding-bottom: 5px;
}

.search-inputs{
    display: flex;
    justify-content: flex-end;
    width: auto;
}

input, button{
    border-radius: 5px;
    background-color: #123442;
    color: #00DB5F;
    border: 1px solid #00DB5F;
    margin: 2px;
}

#search-bar{
    background-color: rgba(0,219,95,0.8);
    color: #123442;
}

#search-bar::placeholder{
    color: #FEFFF7;
}

#login{
    padding: 5px;
    margin: 40px;
}

main{
    width: 98%;
    margin: 10px auto 0 auto;
    border-radius: 5px;
}

.signin-message{
    padding: 60px;
}

.playing{
    background-color: rgb(1, 7, 36);
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

figure, p, h3{
    margin: 0;
}

.artist{
    font-size: 24px;
    margin: 10px;
}

.album{
    font-style: italic;
}


h3{
    padding: 10px;
    text-align: center;
}

.events{
    height: 100%;
    border-radius: 5px;
    background-color: rgba(1, 7, 36,0.8);
}

li{
    list-style-type: none;
}

li h3{
    text-align: left;
}

#sources{
    font-size: 10px;
    text-align: center;
    color: #FEFFF7;
    margin: auto;
}